name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Use Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  node-version: 20.19.5
            - name: NPM Build and Test
              run: |
                  npm ci
                  npm run lint
                  npm run tsc
                  npm run test
                  npm run release
              env:
                  GITHUB_TOKEN: ${{ secrets.GHUB_BOT_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
